.content{
    height: 100%;
    margin: 100px;
    line-height: 1.5em;
}
.content .error{
    color: red;
    display: table;
    margin: 0px auto;
}
.content .error ul{
    padding: 0px;
    list-style-type: circle;
}
.content .center{
    text-align: center;
}
.center a{
    text-decoration: none;
    font-size: 1.5em;
}
.center a:link{
    color:hsl(38,90%,45%);
}
.center a:visited{
    color:hsl(38,90%,45%);
}
.center a:active{
    color:hsl(38,90%,45%);
}
.center a:hover{
    color:hsl(38,90%,70%)
}
.center span{
    color:#f3a218;
}

.button span{
    width: 150px;
    margin: 10px;
    padding: 30px;
    color: white;
    background-color: #f3a218;
    float: inside;
    
    -webkit-box-shadow: 4px 4px 4px #B8B8B8;
    -moz-box-shadow: 4px 4px 4px #B8B8B8;
    box-shadow: 4px 4px 4px #B8B8B8;
    
    border: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.button span:hover{
    opacity: 0.8;
}
#check_image{
    margin-top: 15px;
    border: 1px #B9BDC1 solid;
}
#refreshIcon{
    width: 20px;
    background: #f3a218;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}